$color_primary: #fff5ae;
$color_secondary: #ffd7bb;
$color_accent: #fcd99d;
$color_orange_accent: #d26117;

$color_orange_pastel: #ffe5d7;
$color_blue_pastel: #baf3fe;
$color_pink_pastel: #ffd6f0;
$color_green_pastel: #c6feb0;

$color_gray_light: #ddd;
