button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.btn {
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 100%;
  max-width: 350px;
  height: 55px;
  border-radius: $radius;
  margin: 1rem 0;
  transition: background 200ms ease-in-out;
  cursor: pointer;

  &.accent {
    background: $c_accent;
    border: none;

    &:focus,
    &:hover {
      background: darken($c_accent, $amount: 15%);
    }
  }

  &:focus,
  &:hover {
    background: $c_border;
  }
}
