.navbar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 10px;
  height: rem(65px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.98;
  background: #fff;
  border-color: $color_gray_light;
  z-index: $layer_tree;

  &.scrolled {
    border-bottom: 1px solid $color_gray_light;
  }

  &__link {
    cursor: pointer;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(50px);
    width: rem(50px);

    img {
      width: rem(25px);
      height: auto;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 65px);
}

.--pale {
  background: $color_secondary;
}

.header {
  padding: rem(20px 0 25px);
  text-align: center;

  &__title {
    margin: 0;
    font-size: rem(35px);
    font-weight: 600;
    line-height: 1.2;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(40px 0 40px);
}

.circle-wrapper {
  width: rem(50px);
  height: rem(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f7b6a0;
}

.title-wrapper {
  text-align: left;

  > h1 {
    margin: 10px 0 0;
    font-size: 70px;

    > span {
      font-size: 18px;
      font-weight: 400;
      margin-left: 8px;
    }
  }
}

.circle-wrapper {
  justify-self: flex-start;
  align-self: flex-start;
  margin-right: 20px;
  margin-left: -10px;
  margin-top: -15px;
}

.button {
  display: block;
  width: 100%;
  min-height: rem(55px);
  border-radius: 18px;
  font-size: rem(14px);
  font-weight: 600;
  background: none;
  border: none;
  transition: background 200ms ease-out, transform 200ms ease-out;

  & + & {
    margin-top: rem(15px);
  }

  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    opacity: 0.35;
    cursor: not-allowed;
  }

  &--primary {
    background: $color_primary;

    &:hover,
    &:focus,
    &:active {
      background: darken($color_primary, 10%);
    }
  }

  &--secondary {
    background: none;
    border: 1px solid $color_gray_light;

    &:hover,
    &:focus,
    &:active {
      background: lighten($color_gray_light, 10%);
    }
  }
}

.plans {
  width: 100%;
  padding: 0 7.5% rem(32px);

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    padding: rem(5px 0 30px);
  }

  &__item {
    position: relative;
    text-align: center;
    font-weight: 400;
    padding: rem(20px);
    border-radius: 18px;
    border: 1px solid $color_gray_light;
    transition: background 200ms ease-out;
    cursor: pointer;
    overflow: hidden;

    &:hover,
    &:focus {
      background: lighten($color_gray_light, 10%);
    }

    &--active {
      position: relative;
      border: 2px solid $color_primary;

      &::after {
        content: "✓";
        position: absolute;
        top: rem(5px);
        right: rem(4px);
        width: rem(20px);
        height: rem(20px);
      }

      &::before {
        content: "";
        position: absolute;
        top: rem(-50px);
        right: rem(-50px);
        height: rem(85px);
        width: rem(85px);
        transform: rotate(45deg);
        background: $color_primary;
      }
    }
  }

  &__title {
    font-size: rem(25px);
    line-height: 1.5;
    font-weight: 400;
  }

  &__description {
    font-size: rem(12px);
    line-height: 1.5;
    font-weight: 400;
  }

  & .information {
    display: block;
    font-size: rem(11px);
    text-align: center;
    text-decoration: none;
    margin: rem(16px 0 32px);
    color: darken($color_gray_light, 30%);
  }
}

.payment {
  display: flex;
  align-items: center;
  padding: rem(0 18px);
  font-weight: 400;

  .arrow-icon {
    margin-left: auto;
    width: rem(16px);
    height: auto;
  }

  .apple-icon {
    width: rem(32px);
    height: auto;
    padding: rem(0 5px);
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: rem(15px);
  }
}

.rewards {
  $radius: rem(36px);

  flex: 1;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  background: white;
  overflow: auto;

  & .tabs {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: white;
    border-bottom: 1px solid $color_gray_light;
    z-index: $layer_one;

    &__item {
      display: flex;
      height: rem(75px);
      width: 100%;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &--active {
        border-bottom: 2px solid $color_accent;
      }

      > img {
        width: rem(24px);
      }

      > p {
        color: black;
        font-size: rem(18px);

        span {
          color: darken($color_gray_light, 30%);
        }
      }
    }
  }

  &-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: $color_gray_light;
    }

    &::before {
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
    }

    &::after {
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
    }

    &__item {
      width: 100%;
      position: relative;
      padding: rem(20px 15px);
      align-self: center;
      justify-self: center;
      text-align: center;

      &:nth-child(1) > .circle-wrapper {
        background: $color_orange_pastel;
      }
      &:nth-child(2) > .circle-wrapper {
        background: $color_blue_pastel;
      }
      &:nth-child(3) > .circle-wrapper {
        background: $color_pink_pastel;
      }
      &:nth-child(4) > .circle-wrapper {
        background: $color_green_pastel;
      }

      > .circle-wrapper {
        margin: 0 auto 15px;
        height: rem(120px);
        width: rem(120px);
        font-size: rem(35px);
      }

      > p {
        line-height: 1.5;
      }

      > small {
        color: $color_orange_accent;
      }

      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
