html {
  height: 100%;
  font-size: 17px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
button,
input,
::placeholder {
  font-family: $font_primary;
}

img {
  max-width: 100%;
}

nav {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;

  .icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 25px;
      height: auto;
    }

  }
}

.title_section {
  text-align: center;
  padding: 1rem 2rem 2.5rem 2rem;

  h1 {
    line-height: 1.1;
    font-size: 2.4rem;
  }
}

.content {
  margin-bottom: 2.5rem;
}

.container {
  width: 100%;
  max-width: $space_container;
  padding-right: $space;
  padding-left: $space;
  margin-right: auto;
  margin-left: auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .center {
    justify-content: center;
    align-items: center;
  }

  .between {
    justify-content: space-between;
    align-items: center;
  }
}

.apple_store {
  border: 2px solid $c_border;
  border-radius: $radius;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;

  img {
    width: 15px;
    height: auto;
    margin: .5rem;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card-item {
  width: calc(100% / 2 - .5rem);
  padding: .5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: normal;
  text-align: center;
  padding: 1rem 2rem;
  border: 2px solid $c_border;
  border-radius: $radius;
  overflow: hidden;
  transition: background 200ms ease-in-out;

  &:hover,
  &:focus {
    background: $co_border_light;
  }

  & .title {
    font-size: 1.9rem;
  }

  & p {
    font-size: .9rem;
  }

  &::active {
    border: 2px solid $c_accent;
    background: none !important;
  }

  &:active::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 40px;
    height: 15px;
    background: $c_accent;
    transform: rotate(45deg);
  }
}
